<!DOCTYPE html>
<html ng-app="foodsafety">
<head>
  <meta charset="utf-8">
  <title>Food Safety</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"> -->
  <script type="text/javascript" src="../node_modules/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
  <script type="text/javascript" src="../node_modules/angular-scrollable-table/angular-scrollable-table.js"></script>
  <link rel="stylesheet" type="text/css" href="../node_modules/angular-scrollable-table/scrollable-table.css">
  <script type="text/javascript" src="./src/app.js"></script>
  <style type="text/css">
    body {
      padding-left: 20px;
      padding-bottom: 20px;
    }

  </style>
</head>
<body>
  <h1>Safe Food in Seattle</h1>
  <form name="FilteringForm" ng-controller="FilterController">
    <button type="button" ng-click="reset()">Reset</button>
    <div class="row">
      <div class="col-md-4">
        <h3>Safe or Unsafe</h3>
        <select name="safeChoice" id="safeChoice" ng-model="condition.safeChoice">
          <option value="">All</option>
          <option value="safe">Safe</option>
          <option value="unsafe">Unsafe</option>
        </select><br/>
      </div>

      <div class="col-md-4">
        <h3>Eatery Capacity / Type</h3>
        <select name="businessType" id="businessType" ng-model="condition.businessType">
          <option value="">All</option>
          <option value="Bakery">Bakery (no seating)</option>
          <option value="Bed">Bed &amp; Breakfast</option>
          <option value="Bed">Caterer</option>
          <option value="Seating 0-12">Eatery 0-12 seats</option>
          <option value="Seating 13-50">Eatery 13-50 seats</option>
          <option value="Seating 51-150">Eatery 51-150 seats</option>
          <option value="Seating 151-250">Eatery 151-250 seats</option>
          <option value="Seating > 250">Eatery > 250 seats</option>
          <option value="Grocery">Grocery Store (no seating)</option>
          <option value="Limited">Limited Food Services</option>
          <option value="Meat">Meat/Sea Food Supermarket</option>
          <option value="Mobile">Mobile Food Unit</option>
          <option value="Non-Profit">Non-Profit Institution</option>
          <option value="School">School Lunch Program</option>
          <option value="Tasting">Tasting Room</option>
        </select><br/>
      </div>

      <div class="col-md-4">
        <h3>Location</h3>
        <select name="zipcode" id="zipcode" ng-model="condition.zipcode">
          <option value="">All</option>
          <option value="98032">98032</option>
          <option value="98034">98034</option>
          <option value="98057">98057</option>
          <option value="98101">98101</option>
          <option value="98102">98102</option>
          <option value="98103">98103</option>
          <option value="98104">98104</option>
          <option value="98105">98105</option>
          <option value="98106">98106</option>
          <option value="98107">98107</option>
          <option value="98108">98108</option>
          <option value="98109">98109</option>
          <option value="98112">98112</option>
          <option value="98115">98115</option>
          <option value="98116">98116</option>
          <option value="98117">98117</option>
          <option value="98118">98118</option>
          <option value="98119">98119</option>
          <option value="98121">98121</option>
          <option value="98122">98122</option>
          <option value="98124">98124</option>
          <option value="98125">98125</option>
          <option value="98126">98126</option>
          <option value="98133">98133</option>
          <option value="98134">98134</option>
          <option value="98136">98136</option>
          <option value="98144">98144</option>
          <option value="98146">98146</option>
          <option value="98148">98148</option>
          <option value="98158">98158</option>
          <option value="98166">98166</option>
          <option value="98168">98168</option>
          <option value="98177">98177</option>
          <option value="98178">98178</option>
          <option value="98188">98188</option>
          <option value="98198">98198</option>
          <option value="98199">98199</option>
          <option value="98314">98314</option>
        </select><br/>
      </div>

    </div>

    <div>
      <h3>Final Lists of Restaurant</h3>
      <div class="result">
        <tt>condition = {{condition | json}}</tt><br/>
        <tt>dbUrl = {{dbUrl}}</tt><br/>
        <tt>data count = {{data.length}}</tt><br/>
      </div>

      <!-- <div class="alert alert-info">
        <p>Sort Type: {{ sortType }}</p>
        <p>Sort Reverse: {{ sortReverse }}</p>
        <p>Search Query: {{ searchName }}</p>
      </div> -->

      <scrollable-table watch="data">
        <table class="table table-striped table-bordered">
          <thead>
            <tr class="row">
              <th sortable-header col="business_id" class="col-md-1">
                  Business ID
              </th>
              <th sortable-header col="name" class="col-md-3">
                  Name
              </th>
              <th sortable-header col="address" class="col-md-3">
                  Address
              </th>
              <th sortable-header col="zip_code" class="col-md-1">
                  Zip Code
              </th>
              <th sortable-header col="phone" class="col-md-1">
                  Phone
              </th>
              <th sortable-header col="violation" comparatorFn="violationComparator" class="col-md-1">
                  Violation Points
              </th>
              <th sortable-header col="inspection_date" class="col-md-2">
                  Inspection Date
              </th>

            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="d in data" class="row">
              <td class="col-md-1">{{ d.business_id }}</td>
              <td class="col-md-3"><a ng-href="" ng-click="redirectToBing(d.name)">{{ d.name }}</a></td>
              <td class="col-md-3">{{ d.address }}</td>
              <td class="col-md-1">{{ d.zip_code}}</td>
              <td class="col-md-1">{{ d.phone }}</td>
              <td class="col-md-1">{{ d.violation_points }}</td>
              <td class="col-md-2">{{ formatDate(d.inspection_date) }}</td>
            </tr>
          </tbody>
        </table>
      </scrollable-table>
    </div>
  </form>

</body>
</html>
