body {
  margin-left: 20px;
  margin-right: 20px;
}

select.selectpicker {
  display: none !important;
}
.bootstrap-select {
  width: 220px \0;
  /*IE9 and below*/
}
.bootstrap-select > .dropdown-toggle {
  width: 100%;
  padding-right: 25px;
  z-index: 1;
}
.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active {
  color: #fff;
}

.scrollableContainer {
    /*changed value on Jan 24:*/
    height: 500px;
}

.scrollArea table th .box {
    padding: 0 8px;
    padding-right: 11px;    /*  order icon width*/
    /*Fixed px on Jan 24: */
    border-left: 0px solid #ddd;
}
